body {
	background-color: rgba(255, 99, 71, 0.5);
	color: black
}

h1 {
	color: gray;
}

p {
	color: red;
}

table {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
}

th{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;	
	background-color: powderblue;
}

td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
	color:black;
	background-color: pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

a {
	background-color: orange;
	color: white;
	border: 1px solid black;
	padding: 8px;
	text-decoration: none;
}

a:link, a:visited {
	background-color: lightgreen;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}

header {
  background-color: gray;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
